## Task 1: Collected the information about the gained highest and lost highest Indian stock

In [1]:
!pip install nsetools

Requirement already satisfied: nsetools in c:\users\dhrupad\appdata\local\programs\python\python39\lib\site-packages (1.0.11)
Requirement already satisfied: six in c:\users\dhrupad\appdata\local\programs\python\python39\lib\site-packages (from nsetools) (1.12.0)
Requirement already satisfied: dateutils in c:\users\dhrupad\appdata\local\programs\python\python39\lib\site-packages (from nsetools) (0.6.12)
Requirement already satisfied: pytz in c:\users\dhrupad\appdata\local\programs\python\python39\lib\site-packages (from dateutils->nsetools) (2021.3)
Requirement already satisfied: python-dateutil in c:\users\dhrupad\appdata\local\programs\python\python39\lib\site-packages (from dateutils->nsetools) (2.8.2)

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\Dhrupad\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
from nsetools import Nse
import pandas as pd

In [3]:
nse = Nse()

In [4]:
gainers = nse.get_top_gainers()
losers = nse.get_top_losers()

In [5]:
def gainer_losser(stocks):
    stock_df = pd.DataFrame(stocks)
    stock_list = []
    for i in stock_df['symbol']:
        stock_list.append(i)
    return stock_list

In [6]:
gainer_list = gainer_losser(gainers)
losers_list = gainer_losser(losers)

In [7]:
gainer_list

['SHREECEM',
 'ULTRACEMCO',
 'ICICIBANK',
 'UPL',
 'BHARTIARTL',
 'INFY',
 'GRASIM',
 'WIPRO',
 'AXISBANK',
 'JSWSTEEL']

In [8]:
losers_list

['BRITANNIA',
 'HINDALCO',
 'EICHERMOT',
 'M&M',
 'RELIANCE',
 'HEROMOTOCO',
 'MARUTI',
 'CIPLA',
 'INDUSINDBK',
 'TATAMOTORS']

In [9]:
gain = pd.DataFrame(gainers)
gain = pd.DataFrame([gain.symbol, gain.openPrice, gain.highPrice, gain.lowPrice, gain.ltp, gain.previousPrice, gain.netPrice])
gain = gain.T

In [10]:
loss = pd.DataFrame(losers)
loss = pd.DataFrame([loss.symbol, loss.openPrice, loss.highPrice, loss.lowPrice, loss.ltp, loss.previousPrice, loss.netPrice])
loss = loss.T

In [11]:
gain

       symbol openPrice highPrice lowPrice      ltp previousPrice netPrice
0    SHREECEM  20791.35   21277.0  20700.1  21225.0       20687.9      2.6
1  ULTRACEMCO   6588.05    6799.0  6588.05   6749.0       6588.05     2.44
2   ICICIBANK     823.1     840.9    823.1    837.0        820.25     2.04
3         UPL     735.0     750.0    731.0    742.5        731.75     1.47
4  BHARTIARTL     698.0     710.0   696.35    703.5         694.3     1.33
5        INFY    1608.4    1625.7   1602.3   1617.0        1599.9     1.07
6      GRASIM   1587.25    1615.9   1582.1   1596.0       1579.35     1.05
7       WIPRO    436.15     442.0   436.15    440.0         435.5     1.03
8    AXISBANK     724.0     731.2    721.2   728.75         721.6     0.99
9    JSWSTEEL     665.1     674.0    665.0   669.85        664.35     0.83

In [12]:
loss

       symbol openPrice highPrice lowPrice     ltp previousPrice netPrice
0   BRITANNIA    3745.0    3835.9  3678.85  3689.0       3775.05    -2.28
1    HINDALCO    422.95     426.5   409.05  412.35         421.7    -2.22
2   EICHERMOT    3152.0    3179.8   3066.0  3082.0        3145.8    -2.03
3         M&M    1278.2    1278.5  1231.25  1236.8        1261.8    -1.98
4    RELIANCE    2576.0    2578.8  2526.95  2532.9        2571.9    -1.52
5  HEROMOTOCO    2808.0    2809.9   2761.0  2771.0        2807.0    -1.28
6      MARUTI    8966.8    8985.2   8810.0  8858.0        8966.7    -1.21
7       CIPLA    1040.0   1045.95   1032.0  1033.6        1044.5    -1.04
8  INDUSINDBK    1055.5   1057.75  1033.55  1039.3        1050.2    -1.04
9  TATAMOTORS     468.9     472.9    464.0   464.7         468.9    -0.90

## Task2 Social media post scraping

In [13]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import itertools
from datetime import datetime, timedelta
from transformers import pipeline

C:\Users\Dhrupad\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [54]:
def data_collector(keyword):
    df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    keyword).get_items(), 500))[['date','content']]
    return df

def senti_collector(stock_detail):
    senti_df=[]
    for i in stock_detail:
        sentiment = data_collector(i)
        senti_df.append(sentiment)
    return(senti_df)

In [55]:
gainer_senti = senti_collector(gainer_list)

In [56]:
losser_senti = senti_collector(losers_list)

In [57]:
gainer_senti[4]

,date,content
0,2022-08-07 16:00:19+00:00,Intraday Stocks for Tomorrow 📊\n\n1️⃣ #BHARTIA...
1,2022-08-07 14:42:39+00:00,@ViruPandey81 sir acc and bhartiartl pe kya ra...
2,2022-08-07 14:40:55+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...
3,2022-08-07 12:53:26+00:00,#Bhartiartl is trading in a channel pattern be...
4,2022-08-07 11:25:33+00:00,Below list may have 1-sided intraday momentum ...
...,...,...
495,2022-07-19 03:14:59+00:00,#BhartiAirtel $BHARTIARTL Daily #Stock Chart w...
496,2022-07-19 03:03:29+00:00,Daily Update #19Jul2022 08:33\nStock : #BHARTI...
497,2022-07-18 14:28:29+00:00,#BLSInternational \nFrom 226 to 239✅\n\n#Bhart...
498,2022-07-18 11:02:54+00:00,Important Intraday Levels for Next Session\nSt...
499,2022-07-18 10:35:17+00:00,"#BHARTIARTL Tracking this stock, will be looki..."

In [58]:
losser_senti[0]

,date,content
0,2022-08-07 17:43:15+00:00,@ANAPA3232 @shaw_fit @LisaPar95268641 @Rothmus...
1,2022-08-07 17:41:10+00:00,@nargua1 Rien ni personne ne remplacera @MikuH...
2,2022-08-07 17:40:08+00:00,Bizzare mon Google Home 🤔 https://t.co/FdEmtTCxUC
3,2022-08-07 17:38:55+00:00,@80_mcswan Private companies resources. The sn...
4,2022-08-07 17:38:29+00:00,"Again, Britannia waives the rules.\nhttps://t...."
...,...,...
495,2022-08-07 06:19:00+00:00,"Hercules est vraiment sous côté, il est juste ..."
496,2022-08-07 06:16:58+00:00,@Sami_Disneyland @wBdLp Faut trouver de la pla...
497,2022-08-07 06:15:37+00:00,@ClaireMax You look like Athena 😍
498,2022-08-07 06:13:14+00:00,@aigriedouce Apparemment 😁
499,2022-08-07 06:12:14+00:00,BRITANNIA Crackers 50 50 Sweet and Salty Biscu...

## Task3 : Analyse the dataset

In [19]:
def clean_tweets(tweet_data):
    #Convert the all text into the lower case
    tweets = tweet_data.lower()
    tweets = re.sub("'","",tweets)
    tweets = re.sub('@[A-Za-z0–9]+', '', tweets) #Remove the @mentions
    tweets = re.sub('#', '', tweets) # Remove the '#' hash tag
    tweets = re.sub('RT[\s]+', '', tweets) # Remove the retweets from tweets
    tweets = re.sub('https?:\/\/\S+', '', tweets) # Remove the hyperlinks from tweets
    tweets = re.sub('\[.*?\]',' ',tweets)#Remove the pantucaiton from the tweets
    #Tokenize the tweets 
    tweets = tweets.split()
    #Remove the stop words from the tweets
    stopwords = set(STOPWORDS)
    tweets = [w for w in tweets if not w in stopwords]
    tweets = " ".join(word for word in tweets)
    return tweets

def cleaining_process(tweet_list):
    clean_df = []
    for i in tweet_list:
        clean = i.content.apply(clean_tweets)
        clean_df.append(clean)
    return clean_df

In [21]:
import re
import string
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer#setiment analyzer tool
from wordcloud import WordCloud, STOPWORDS#NLP models for process text dataset
from nltk.stem import SnowballStemmer#For create a steaming
from textblob import TextBlob
from langdetect import detect
nltk.download('punkt')
nltk.download('vader_lexicon')
nltk.download('stopwords')
nltk.download('wordnet')

#Load the NLP tokenzer and pre-process data libraries
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag
import matplotlib.pyplot as plt

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dhrupad\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Dhrupad\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dhrupad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dhrupad\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [22]:
clen_gainers = cleaining_process(gainer_senti)
clean_lossers = cleaining_process(losser_senti)

In [23]:
clean_lossers[0]

0      stocks watch: britannia, gail, reliance, adani...
1                                    cool-britannia🇬🇧🎩🕶️
2                                    ça ma lair cohérent
3      _nook go, wigan, britannia bridge good routes ...
4                          @_yourf4vgirl_ curhat aja kak
                             ...
495    woah andrew tate say n word he’s black never e...
496    precisely. stop benefits they’ll stop coming. ...
497                      1x de fou ct y’a 6h mais de fou
498    dont toy me, miss nagatoro 2nd attack | tráile...
499                             1x sa veut faire ton duo
Name: content, Length: 500, dtype: object

In [24]:
clen_gainers[0]

0      shreecement $shreecem last 6 months daily stoc...
1      optionchain - shreecem stock bearish pcr :0.28...
2      shreecement $shreecem monthwise daily high - l...
3      shreecement $shreecem daily stock chart 50 day...
4      shreecement $shreecem last 6 months daily stoc...
                             ...
495    optionchain - shreecem stock bearish pcr:0.23 ...
496    shreecem weekly chart supertrend suggests bear...
497    optionchain - shreecem stock bearish pcr:0.23 ...
498    shreecem hourly chart supertrend suggests bull...
499    shreecem hourly chart supertrend suggests bull...
Name: content, Length: 500, dtype: object

In [25]:
#Test the sentiment using text blob
#Create a funciton for the data POS
#POS tagger directory
pos_dir = {'J':wordnet.ADJ, 'V':wordnet.VERB, 
           'N':wordnet.NOUN, 'R':wordnet.ADV}
def token_stop_pos(text):
    tagg = pos_tag(word_tokenize(text))
    new_list=[]
    for word, tag in tagg:
        #Filter only the english word from the tweets and avoid the other langues
        if word.lower() not in set(stopwords.words('english')):
            new_list.append(tuple([word,pos_dir.get(tag[0])]))
            
    return new_list

In [26]:
#Create a funciton to apply the lemmatizer
word_lemmatizer = WordNetLemmatizer()
def lemmatizer(pos_dataset):
    lemma_rew = ""
    for word,pos in pos_dataset:
        if not pos:
            lemma = word
            lemma_rew = lemma_rew+""+lemma
        else:
            lemma = word_lemmatizer.lemmatize(word, pos=pos)
            lemma_rew = lemma_rew+""+lemma
            
    return lemma_rew

In [27]:
#text blob information
#Calculate the subjectivity
def get_subjective(tweet_content):
    return TextBlob(tweet_content).sentiment.subjectivity
    #Calculate the polarity
def get_polarity(tweet_content):
    return TextBlob(tweet_content).sentiment.polarity

In [83]:
def polarity_collection(process_data):
    polarity=[]
    for i in process_data:
        pos_tagg = i.apply(token_stop_pos)
        lemma = pos_tagg.apply(lemmatizer)
        pols= lemma.apply(get_polarity)
        polarity.append(pols)
    return polarity

In [84]:
gainer_analysis = polarity_collection(clen_gainers)

In [62]:
losers_analysis= polarity_collection(clean_lossers)

In [63]:
gainer_final_data=[]
for i in range(len(gainer_senti)):
    stock = gainer_senti[i]
    stock['senti_score'] = gainer_analysis[i]
    gainer_final_data.append(stock)

In [66]:
losser_final_data=[]
for i in range(len(losser_senti)):
    stock = losser_senti[i]
    stock['senti_score'] = losers_analysis[i]
    losser_final_data.append(stock)

# Top ten gainer stock data analysis with weekly tweeter sentiment

In [88]:
print(gain.iloc[0])
gainer_final_data[0]

symbol           SHREECEM
openPrice        20791.35
highPrice         21277.0
lowPrice          20700.1
ltp               21225.0
previousPrice     20687.9
netPrice              2.6
Name: 0, dtype: object

,date,content,senti_score
0,2022-08-07 16:10:06+00:00,Paul Torres-Cohen $SHREECEM.NS,0.0
1,2022-08-07 15:39:32+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
2,2022-08-07 11:24:52+00:00,#ShreeCement $SHREECEM Last 6 months Daily #St...,0.0
3,2022-08-07 01:08:15+00:00,#OptionChain - #SHREECEM\n#Stock #Bearish\n#PC...,0.0
4,2022-08-06 01:22:47+00:00,#ShreeCement $SHREECEM Monthwise Daily High - ...,0.0
...,...,...,...
495,2022-06-28 07:35:26+00:00,Fresh Buy #SHREECEM 19238 28-06-2022 13:00:00 ...,0.0
496,2022-06-28 07:09:17+00:00,#SHREECEM \n#SuperTrend suggests #Bullish tren...,0.0
497,2022-06-28 07:00:40+00:00,#OptionChain - #SHREECEM\n#Stock #Bearish\n#PC...,0.0
498,2022-06-28 05:04:21+00:00,#SHREECEM Weekly Chart\n#SuperTrend suggests #...,0.0
499,2022-06-28 04:42:50+00:00,#OptionChain - #SHREECEM\n#Stock #Bearish\n#PC...,0.0

In [89]:
print(gain.iloc[1])
gainer_final_data[1]

symbol           ULTRACEMCO
openPrice           6588.05
highPrice            6799.0
lowPrice            6588.05
ltp                  6749.0
previousPrice       6588.05
netPrice               2.44
Name: 1, dtype: object

,date,content,senti_score
0,2022-08-07 16:40:52+00:00,#Ultracemco shortly it will reach 7050.\n#Stoc...,0.0
1,2022-08-07 15:48:51+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
2,2022-08-07 15:07:39+00:00,#UltraTechCement $ULTRACEMCO Daily #Stock Char...,0.0
3,2022-08-07 02:09:15+00:00,#OptionChain - #ULTRACEMCO\n#Stock #Bearish\n#...,0.0
4,2022-08-06 20:41:27+00:00,#UltraTechCement $ULTRACEMCO Monthwise Daily H...,0.0
...,...,...,...
495,2022-07-19 16:01:29+00:00,Daily Market Highlights | 19th July 2022 📊 \n\...,0.0
496,2022-07-19 14:56:07+00:00,Positional Call NSE:ULTRACEMCO CMP 7429.7 buy ...,0.0
497,2022-07-19 14:52:17+00:00,#ULTRACEMCO \n\n#20MA &amp; #50MA crossover is...,0.0
498,2022-07-19 13:23:32+00:00,Daily Market Highlights | 19th July 2022 📊 \n\...,0.0
499,2022-07-19 13:20:34+00:00,Important Intraday Levels for Next Session\nSt...,0.0

In [90]:
print(gain.iloc[2])
gainer_final_data[2]

symbol           ICICIBANK
openPrice            823.1
highPrice            840.9
lowPrice             823.1
ltp                  837.0
previousPrice       820.25
netPrice              2.04
Name: 2, dtype: object

,date,content,senti_score
0,2022-08-07 17:31:58+00:00,@ICICIBank Why do you keep calling when I have...,0.0
1,2022-08-07 17:30:00+00:00,Nikon Z 50 21.51 MP Mirrorless Camera with Z D...,0.0
2,2022-08-07 17:19:14+00:00,"@ICICIBank_Care hi, last year i bought a bike,...",0.0
3,2022-08-07 17:13:39+00:00,@BlueDart_ @BlueDartCares @ICICIBank My ICICI...,0.0
4,2022-08-07 17:10:18+00:00,@ICICINRIService I have been an ICICI bank cu...,0.0
...,...,...,...
495,2022-08-07 07:59:14+00:00,"@KshamaNaik Hello, we are at your service. Pl...",0.0
496,2022-08-07 07:58:37+00:00,"@Yadav_CS95 Hi, we glad to know that your iss...",0.0
497,2022-08-07 07:58:10+00:00,@ICICIBank_Care @ICICIBank Kya baat hai card k...,0.0
498,2022-08-07 07:57:18+00:00,"ICICI Bank, PNB hike external benchmark based ...",0.0
499,2022-08-07 07:56:54+00:00,"@aamirkangda Hi, we are here to help you. Kin...",0.0

In [91]:
print(gain.iloc[3])
gainer_final_data[3]

symbol              UPL
openPrice         735.0
highPrice         750.0
lowPrice          731.0
ltp               742.5
previousPrice    731.75
netPrice           1.47
Name: 3, dtype: object

,date,content,senti_score
0,2022-08-07 17:41:13+00:00,@misiro みしろんさん！お休みなさい！,0.0
1,2022-08-07 17:40:01+00:00,https://t.co/PGuA5SZimQ,0.0
2,2022-08-07 17:37:19+00:00,🤣🤣🤣🤣🤣🤡 https://t.co/8BZwrabRdV,0.0
3,2022-08-07 17:36:49+00:00,"@DanCaruso1 @nypost Her team says that, we don...",0.0
4,2022-08-07 17:33:24+00:00,@FredUnbound @nypost I think her side was deli...,0.0
...,...,...,...
495,2022-08-06 23:46:21+00:00,Los leoneses que vayan a Madrid deberán compra...,0.0
496,2022-08-06 23:39:25+00:00,"سيرة ذاتية "" لا شال همّه .. شال همّه بروحه / و...",0.0
497,2022-08-06 23:30:41+00:00,初期費用無料で即日即金の副業ありませんか？#副業紹介してください #副業探してます #副業,0.0
498,2022-08-06 23:30:35+00:00,フライヤーや動画編集に詳しい方いましたらリプください！\nピクコラージュで編集後、ツイート上...,0.0
499,2022-08-06 23:27:39+00:00,@haikanK_JP @Babu__run 私の主食(σ｀3´)σ見ぃ〜けっ！,0.0

In [92]:
print(gain.iloc[4])
gainer_final_data[4]

symbol           BHARTIARTL
openPrice             698.0
highPrice             710.0
lowPrice             696.35
ltp                   703.5
previousPrice         694.3
netPrice               1.33
Name: 4, dtype: object

,date,content,senti_score
0,2022-08-07 16:00:19+00:00,Intraday Stocks for Tomorrow 📊\n\n1️⃣ #BHARTIA...,0.0
1,2022-08-07 14:42:39+00:00,@ViruPandey81 sir acc and bhartiartl pe kya ra...,0.0
2,2022-08-07 14:40:55+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
3,2022-08-07 12:53:26+00:00,#Bhartiartl is trading in a channel pattern be...,0.0
4,2022-08-07 11:25:33+00:00,Below list may have 1-sided intraday momentum ...,0.0
...,...,...,...
495,2022-07-19 03:14:59+00:00,#BhartiAirtel $BHARTIARTL Daily #Stock Chart w...,0.0
496,2022-07-19 03:03:29+00:00,Daily Update #19Jul2022 08:33\nStock : #BHARTI...,0.0
497,2022-07-18 14:28:29+00:00,#BLSInternational \nFrom 226 to 239✅\n\n#Bhart...,0.0
498,2022-07-18 11:02:54+00:00,Important Intraday Levels for Next Session\nSt...,0.0
499,2022-07-18 10:35:17+00:00,"#BHARTIARTL Tracking this stock, will be looki...",0.0

In [93]:
print(gain.iloc[5])
gainer_final_data[5]

symbol             INFY
openPrice        1608.4
highPrice        1625.7
lowPrice         1602.3
ltp              1617.0
previousPrice    1599.9
netPrice           1.07
Name: 5, dtype: object

,date,content,senti_score
0,2022-08-07 17:37:57+00:00,"please dont make promises that u can't keep, y...",0.0
1,2022-08-07 17:29:33+00:00,💥 โปร 8.8 💥หัว relx และ infy หัวละ120 ค่าส่ง25...,0.0
2,2022-08-07 17:26:58+00:00,#Infosys $INFY Monthwise Daily High - Low Move...,0.0
3,2022-08-07 17:24:17+00:00,✨Ks quik 2000คำชาร์จได้ nic3%✨\n📌กลิ่นช่ำ หวา...,0.0
4,2022-08-07 17:23:59+00:00,‼️Boom Boom ‼️ ถูกๆไปเลยแม่⚡️\nใช้แล้วทิ้งชาร์...,0.0
...,...,...,...
495,2022-08-07 00:53:34+00:00,@CryptChurch I used a multichain dex @FinanceF...,0.0
496,2022-08-07 00:52:54+00:00,"@viskisol Yes, it does. But to a smaller amoun...",0.0
497,2022-08-07 00:52:03+00:00,@VanGogh4444 Yes.\n\nThis is where slippage an...,0.0
498,2022-08-07 00:51:10+00:00,@TOP_H___ Thank for the follow @TOP_H___ !\n\n...,0.0
499,2022-08-07 00:49:51+00:00,@jojotubarao It's possible to do it still. But...,0.0

In [94]:
print(gain.iloc[6])
gainer_final_data[6]

symbol            GRASIM
openPrice        1587.25
highPrice         1615.9
lowPrice          1582.1
ltp               1596.0
previousPrice    1579.35
netPrice            1.05
Name: 6, dtype: object

,date,content,senti_score
0,2022-08-07 15:53:55+00:00,Companies offering more than 100% dividends 💰💵...,0.0
1,2022-08-07 15:04:25+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
2,2022-08-07 14:33:23+00:00,@ipo_mantra Very much sold grasim at 600 and i...,0.0
3,2022-08-07 13:41:33+00:00,#GrasimIndustries $GRASIM chart suggests #Fibo...,0.0
4,2022-08-07 13:41:33+00:00,#GrasimIndustries $GRASIM DailyChart-SMAandFib...,0.0
...,...,...,...
495,2022-07-25 08:48:11+00:00,"#TechM 🇮🇳 on the #NSE #Block of 1,35,905 share...",0.0
496,2022-07-25 08:37:03+00:00,"#HUL 🇮🇳 on the #NSE #Block of 30,124 shares at...",0.0
497,2022-07-25 08:33:49+00:00,Whereas profits growth rates have slowed down ...,0.0
498,2022-07-25 08:18:18+00:00,Top Losers\n\nM&amp;M -3.72 %\nRELIANC...,0.0
499,2022-07-25 07:56:30+00:00,#GrasimIndustries $GRASIM Daily #Stock Chart w...,0.0

In [95]:
print(gain.iloc[7])
gainer_final_data[7]

symbol            WIPRO
openPrice        436.15
highPrice         442.0
lowPrice         436.15
ltp               440.0
previousPrice     435.5
netPrice           1.03
Name: 7, dtype: object

,date,content,senti_score
0,2022-08-07 17:39:03+00:00,CAS Group - Convergence Acceleration Solutions...,0.0
1,2022-08-07 17:35:07+00:00,Here's a nice deal from GFF sale.\n\nEcho Flex...,0.0
2,2022-08-07 17:24:03+00:00,@themukulagrawal Yes sir wipro,0.0
3,2022-08-07 17:10:02+00:00,How To Buy Wipro B22 9-Watt LED Bulb at Rs 99 ...,0.0
4,2022-08-07 16:53:30+00:00,Wipro SQL/PLSQL Interview Questions https://t....,0.0
...,...,...,...
495,2022-08-04 14:07:02+00:00,The best way to help #gamers fuel their compet...,0.0
496,2022-08-04 13:56:25+00:00,Andrew Benton talks about @Wipro's #IoT platfo...,0.0
497,2022-08-04 13:52:34+00:00,A solid brand strategy sets a purpose for your...,0.0
498,2022-08-04 13:50:25+00:00,@RajneeshMittal0 @WealthEnrich Will Wipro ever...,0.0
499,2022-08-04 13:45:38+00:00,@thefaadguy is it good to be a part of WILP of...,0.0

In [96]:
print(gain.iloc[8])
gainer_final_data[8]

symbol           AXISBANK
openPrice           724.0
highPrice           731.2
lowPrice            721.2
ltp                728.75
previousPrice       721.6
netPrice             0.99
Name: 8, dtype: object

,date,content,senti_score
0,2022-08-07 17:42:16+00:00,@ro_hit_dim_ri download any app or part with c...,0.0
1,2022-08-07 17:42:15+00:00,"@ro_hit_dim_ri Hi Rohit, we understand your co...",0.0
2,2022-08-07 17:42:13+00:00,"@Santoshdandotiy Further, we suggest you to co...",0.0
3,2022-08-07 17:42:01+00:00,"@Santoshdandotiy Hi, snce Paytm is acting only...",0.0
4,2022-08-07 17:34:43+00:00,@AxisBankSupport @RBI @AxisBankSupport @AxisBa...,0.0
...,...,...,...
495,2022-08-06 17:09:51+00:00,"@iSatendraNegi Hi Satendra, you are welcome:) ...",0.0
496,2022-08-06 17:09:14+00:00,"So, she said the details are correct. I mean h...",0.0
497,2022-08-06 17:09:14+00:00,@SsllessGarg @AxisBank @ICICIBank @Ravisutanja...,0.0
498,2022-08-06 17:09:13+00:00,Office to pay 6000/- rs premium then bank exec...,0.0
499,2022-08-06 17:07:06+00:00,@HDFCBank_Cares Thanks i currently i have take...,0.0

In [97]:
print(gain.iloc[9])
gainer_final_data[9]

symbol           JSWSTEEL
openPrice           665.1
highPrice           674.0
lowPrice            665.0
ltp                669.85
previousPrice      664.35
netPrice             0.83
Name: 9, dtype: object

,date,content,senti_score
0,2022-08-07 15:49:22+00:00,@BuchagariR Not bad :: hold it … you can add j...,0.0
1,2022-08-07 15:40:08+00:00,@sajjanjindal And jsw steel Great Company in w...,0.0
2,2022-08-07 15:39:40+00:00,@Geeta28577172 Wait for some correction; then ...,0.0
3,2022-08-07 15:33:21+00:00,@SandeepUvach Jsw steel,0.0
4,2022-08-07 15:33:14+00:00,#JSWSteel $JSWSTEEL Daily #Stock Chart with 20...,0.0
...,...,...,...
495,2022-07-28 13:20:07+00:00,"""Though the objective of the export duty was t...",0.0
496,2022-07-28 13:04:39+00:00,CSR: JSW joins hands with murtikaar community ...,0.0
497,2022-07-28 13:00:10+00:00,"July 28, 2022: Business News, you missed: \n\n...",0.0
498,2022-07-28 12:14:13+00:00,@Surendr10999158 Jswsteel can head towards 640,0.0
499,2022-07-28 12:13:40+00:00,Important Intraday Levels for Next Session\nSt...,0.0

# Top ten losser stock data analysis with weekly tweeter sentiment

In [100]:
print(loss.iloc[0])
losser_final_data[0]

symbol           BRITANNIA
openPrice           3745.0
highPrice           3835.9
lowPrice           3678.85
ltp                 3689.0
previousPrice      3775.05
netPrice             -2.28
Name: 0, dtype: object

,date,content,senti_score
0,2022-08-07 17:43:15+00:00,@ANAPA3232 @shaw_fit @LisaPar95268641 @Rothmus...,0.0
1,2022-08-07 17:41:10+00:00,@nargua1 Rien ni personne ne remplacera @MikuH...,0.0
2,2022-08-07 17:40:08+00:00,Bizzare mon Google Home 🤔 https://t.co/FdEmtTCxUC,0.0
3,2022-08-07 17:38:55+00:00,@80_mcswan Private companies resources. The sn...,0.0
4,2022-08-07 17:38:29+00:00,"Again, Britannia waives the rules.\nhttps://t....",0.0
...,...,...,...
495,2022-08-07 06:19:00+00:00,"Hercules est vraiment sous côté, il est juste ...",0.0
496,2022-08-07 06:16:58+00:00,@Sami_Disneyland @wBdLp Faut trouver de la pla...,0.0
497,2022-08-07 06:15:37+00:00,@ClaireMax You look like Athena 😍,0.0
498,2022-08-07 06:13:14+00:00,@aigriedouce Apparemment 😁,0.0
499,2022-08-07 06:12:14+00:00,BRITANNIA Crackers 50 50 Sweet and Salty Biscu...,0.0

In [102]:
print(loss.iloc[1])
losser_final_data[1]

symbol           HINDALCO
openPrice          422.95
highPrice           426.5
lowPrice           409.05
ltp                412.35
previousPrice       421.7
netPrice            -2.22
Name: 1, dtype: object

,date,content,senti_score
0,2022-08-07 17:06:53+00:00,Intraday Stocks: 08 Aug\n\n1⃣ Hindalco\n2⃣ Lup...,0.0
1,2022-08-07 15:53:55+00:00,Companies offering more than 100% dividends 💰💵...,0.0
2,2022-08-07 15:06:31+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
3,2022-08-07 13:10:59+00:00,#OptionChain - #HINDALCO\n#Stock #Bearish\n#PC...,0.0
4,2022-08-07 11:05:58+00:00,Power- Adani power\nBank- idfc first bank\nIt-...,0.0
...,...,...,...
495,2022-07-29 17:14:49+00:00,#OptionChain - #HINDALCO\n#Stock #Bearish\n#PC...,0.0
496,2022-07-29 16:47:04+00:00,#HINDALCO #nifty50 #banknifty \nHindalco roooo...,0.0
497,2022-07-29 16:46:37+00:00,👉https://t.co/HqKDunStbH\n💥At 3 Months High No...,0.0
498,2022-07-29 16:44:59+00:00,Jai Maa Bhadrakali !!!\n\nBreakout will happen...,0.0
499,2022-07-29 16:24:03+00:00,Emudhra has given 35% return in 2 days. Vedant...,0.0

In [103]:
print(loss.iloc[2])
losser_final_data[2]

symbol           EICHERMOT
openPrice           3152.0
highPrice           3179.8
lowPrice            3066.0
ltp                 3082.0
previousPrice       3145.8
netPrice             -2.03
Name: 2, dtype: object

,date,content,senti_score
0,2022-08-07 17:16:46+00:00,#EicherMotors $EICHERMOT Last 6 months Daily #...,0.0
1,2022-08-07 14:56:59+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
2,2022-08-07 11:09:35+00:00,#EicherMotors $EICHERMOT Monthwise Daily High ...,0.0
3,2022-08-07 10:03:07+00:00,EICHERMOT for NSE:EICHERMOT by satyamgshukla17...,0.0
4,2022-08-07 04:07:39+00:00,#OptionChain - #EICHERMOT\n#Stock #Bearish\n#P...,0.0
...,...,...,...
495,2022-07-12 04:55:42+00:00,#OptionChain - #EICHERMOT\n#Stock #Bearish\n#P...,0.0
496,2022-07-12 04:09:43+00:00,"LONG ON #EICHERMOT\n@3,020.80 * 5 https://t.co...",0.0
497,2022-07-12 03:17:58+00:00,#EICHERMOT marks #52-Week High. #BULLISH https...,0.0
498,2022-07-12 03:08:44+00:00,💰💰 Stocks to watch FNO💰💰 \n\n#stockmarkets #wa...,0.0
499,2022-07-12 02:56:39+00:00,Check out my #EICHERMOT analysis on @TradingVi...,0.0

In [104]:
print(loss.iloc[3])
losser_final_data[3]

symbol               M&M
openPrice         1278.2
highPrice         1278.5
lowPrice         1231.25
ltp               1236.8
previousPrice     1261.8
netPrice           -1.98
Name: 3, dtype: object

,date,content,senti_score
0,2022-08-07 17:44:21+00:00,@miko31399334 同じだー🌻！\n\n全然情熱的ではないけど🤣 https://t...,0.0
1,2022-08-07 17:44:21+00:00,@RecklesTrucker He knows how to live. 😎,0.0
2,2022-08-07 17:44:21+00:00,una gran sonrisa con hoyuelos invade instantán...,0.0
3,2022-08-07 17:44:20+00:00,@SelenaBrasil22 @TalitaSalles22 Para os togados.,0.0
4,2022-08-07 17:44:19+00:00,having a love hate relationship w/ roman’s rev...,0.0
...,...,...,...
495,2022-08-07 17:40:06+00:00,"pronto, comprei meu ingresso pra Festa do Ano ...",0.0
496,2022-08-07 17:40:06+00:00,namjoon’s the type of boyfriend... https://t.c...,0.0
497,2022-08-07 17:40:06+00:00,@IGEUD_0601 @N414_MM @bbuya_3 @quit_life_ @tti...,0.0
498,2022-08-07 17:40:05+00:00,@aoimikan9 リプありがとうございます！ジュンのみでしたら交換可能です🙇‍♀️,0.0
499,2022-08-07 17:40:04+00:00,@haneul_0520_ 하늘 생각,0.0

In [105]:
print(loss.iloc[4])
losser_final_data[4]

symbol           RELIANCE
openPrice          2576.0
highPrice          2578.8
lowPrice          2526.95
ltp                2532.9
previousPrice      2571.9
netPrice            -1.52
Name: 4, dtype: object

,date,content,senti_score
0,2022-08-07 17:44:36+00:00,Reliance Jio Reports 24 Percent Rise in Q2 Pro...,0.0
1,2022-08-07 17:44:32+00:00,Reliance Jio Reports 24 Percent Rise in Q2 Pro...,0.0
2,2022-08-07 17:44:05+00:00,@GuntherEagleman People who don’t think the US...,0.0
3,2022-08-07 17:44:05+00:00,@ScottTParkinson CHIP bill is to try to guaran...,0.0
4,2022-08-07 17:43:43+00:00,@AkivaMCohen @KathrynTewson @PJEvans66030270 @...,0.0
...,...,...,...
495,2022-08-07 12:41:06+00:00,"Amor's reliance on the word 'sure'...\n\n""He s...",0.0
496,2022-08-07 12:39:55+00:00,@Normegian @strangepacks_ How to be a real man...,0.0
497,2022-08-07 12:38:42+00:00,I finished “Kubernetes Operators” second. A sh...,0.0
498,2022-08-07 12:38:29+00:00,@DrIkramulHaq Because the road to self relianc...,0.0
499,2022-08-07 12:37:49+00:00,@garyhgoodridge The instant obedience to order...,0.0

In [106]:
print(loss.iloc[5])
losser_final_data[5]

symbol           HEROMOTOCO
openPrice            2808.0
highPrice            2809.9
lowPrice             2761.0
ltp                  2771.0
previousPrice        2807.0
netPrice              -1.28
Name: 5, dtype: object

,date,content,senti_score
0,2022-08-07 15:06:19+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
1,2022-08-07 11:50:17+00:00,#HeroMotocorp $HEROMOTOCO Monthwise Daily High...,0.0
2,2022-08-07 09:57:49+00:00,Heromotoco : Let's see how much it falls or no...,0.0
3,2022-08-07 05:30:20+00:00,#HEROMOTOCO seems to have completed a 1-2-3-4-...,0.0
4,2022-08-07 00:32:38+00:00,#HeroMotocorp $HEROMOTOCO Weekly Chart\n#Super...,0.0
...,...,...,...
495,2022-07-07 09:58:37+00:00,#OptionChain - #HEROMOTOCO\n#Stock #Bearish\n#...,0.0
496,2022-07-07 09:46:49+00:00,HEROMOTOCO 📢\n\n#HEROMOTOCO - Press release\nh...,0.0
497,2022-07-07 09:42:56+00:00,#HeroMotocorpLtd $HEROMOTOCO Weekly Chart\n#Su...,0.0
498,2022-07-07 08:52:38+00:00,Alert Sell #HEROMOTOCO CMP: 2832.3 #NimblrTA \...,0.0
499,2022-07-07 08:13:33+00:00,#HeroMotoco \n#StockToWatchOut #InvestmentPick...,0.0

In [107]:
print(loss.iloc[6])
losser_final_data[6]

symbol           MARUTI
openPrice        8966.8
highPrice        8985.2
lowPrice         8810.0
ltp              8858.0
previousPrice    8966.7
netPrice          -1.21
Name: 6, dtype: object

,date,content,senti_score
0,2022-08-07 17:43:23+00:00,खरं म्हणजे या व्हिडीओ ची जास्त गरज या मंडळींना...,0.0
1,2022-08-07 17:41:52+00:00,@noconversion @raghav_chadha ये कुत्ते समाज के...,0.0
2,2022-08-07 17:40:58+00:00,Very disappointed with salespersons across all...,0.0
3,2022-08-07 17:40:38+00:00,@pankajvrajput @epanchjanya ऐसे निच लोगों के य...,0.0
4,2022-08-07 17:39:16+00:00,@epanchjanya फांसी दो,0.0
...,...,...,...
495,2022-08-07 06:16:18+00:00,person who designed maruti's wagonR should ser...,0.0
496,2022-08-07 06:16:08+00:00,@HansrajMeena @ishwar_harmor98 @narendramodi @...,0.0
497,2022-08-07 06:14:13+00:00,#RC15 cancel antaga fafam zero share nakoduku ...,0.0
498,2022-08-07 06:13:36+00:00,@ZeeshanAli2412 @MinzNilofar @Kerketta_Ram @Bi...,0.0
499,2022-08-07 06:12:44+00:00,Zero share debba Shankar chepoutho kotti cinem...,0.0

In [108]:
print(loss.iloc[7])
losser_final_data[7]

symbol             CIPLA
openPrice         1040.0
highPrice        1045.95
lowPrice          1032.0
ltp               1033.6
previousPrice     1044.5
netPrice           -1.04
Name: 7, dtype: object

,date,content,senti_score
0,2022-08-07 17:35:34+00:00,"When i say i love kabir singh, this is what i ...",0.0
1,2022-08-07 17:13:58+00:00,@jisto_sa 🤣🤣🤣 Hao nratele ntho tse ntle atseba,0.0
2,2022-08-07 17:12:22+00:00,Cipla betting big on digitisation and emerging...,0.0
3,2022-08-07 17:11:41+00:00,#CIPLA $CIPLA Daily #Stock Chart with 50 days ...,0.0
4,2022-08-07 17:10:39+00:00,@JustTumo Ba tella 😭,0.0
...,...,...,...
495,2022-08-03 11:39:37+00:00,@Cipla_Global @Vohra_Umang Please job me MSc. ...,0.0
496,2022-08-03 11:21:02+00:00,Cipla Fixes Record Date For 250% Dividend Payo...,0.0
497,2022-08-03 11:18:29+00:00,Important Intraday Levels for Next Session\nSt...,0.0
498,2022-08-03 11:07:07+00:00,CIPLA - Compliances-Reg. 39 (3) - Details of L...,0.0
499,2022-08-03 11:01:15+00:00,A drawdown day for me. Still a learner in F&am...,0.0

In [109]:
print(loss.iloc[8])
losser_final_data[8]

symbol           INDUSINDBK
openPrice            1055.5
highPrice           1057.75
lowPrice            1033.55
ltp                  1039.3
previousPrice        1050.2
netPrice              -1.04
Name: 8, dtype: object

,date,content,senti_score
0,2022-08-07 16:03:45+00:00,#IndusindBank $INDUSINDBK Monthwise Daily High...,0.0
1,2022-08-07 15:13:37+00:00,#Tradingview #MIZone #Tracker #CCI #Score #RRG...,0.0
2,2022-08-07 13:35:00+00:00,Very bearish on the banking sector as a whole....,0.0
3,2022-08-07 13:02:56+00:00,Futures &amp; Options educational trades for t...,0.0
4,2022-08-07 12:42:38+00:00,#IndusindBank $INDUSINDBK Weekly Chart\n#Super...,0.0
...,...,...,...
495,2022-07-21 05:50:42+00:00,#INDUSINDBK jumps 6% on strong Q1 results\n\n-...,0.0
496,2022-07-21 05:47:38+00:00,IndusInd Bank shares gain over 5% after profit...,0.0
497,2022-07-21 05:47:26+00:00,Tchinical Analisys Update #21Jul2022 09:31\nSt...,0.0
498,2022-07-21 05:42:52+00:00,INDUSINDBK 933 sl 915 tgt 955 970 \n\nCash,0.0
499,2022-07-21 05:41:52+00:00,43 Advances against 7 Declines in #nifty50 at ...,0.0

In [110]:
print(loss.iloc[9])
losser_final_data[9]

symbol           TATAMOTORS
openPrice             468.9
highPrice             472.9
lowPrice              464.0
ltp                   464.7
previousPrice         468.9
netPrice              -0.90
Name: 9, dtype: object

,date,content,senti_score
0,2022-08-07 17:42:03+00:00,Steal deal for Tata Motors. TM to buy Ford Guj...,0.0
1,2022-08-07 17:32:02+00:00,"Day 76 "" TATA NANO ""....\nSab sahi hai...\n\n....",0.0
2,2022-08-07 17:31:18+00:00,#Tatamotors https://t.co/8dq2FbzbdT,0.0
3,2022-08-07 17:29:37+00:00,Tata Motors to buy Ford Gujarat plant for Rs 7...,0.0
4,2022-08-07 17:29:35+00:00,#Tatamotors https://t.co/fdTTAhFwc7,0.0
...,...,...,...
495,2022-08-06 12:04:22+00:00,@Tatamotorsev @TataMotors Already sent but no ...,0.0
496,2022-08-06 12:03:52+00:00,@RNTata2000 @MayankPareek_ @TataCompanies @Tat...,0.0
497,2022-08-06 12:02:43+00:00,@TataPunchClub welcoming Baby Rhino in our fam...,0.0
498,2022-08-06 11:57:46+00:00,@TataMotors conplaints about my nexon model xz...,0.0
499,2022-08-06 11:57:31+00:00,@prabal1210 Kindly DM us your respective deale...,0.0